.pointer { cursor: pointer; }

.heading {
  display: inline-block;
}

.display-7 {
  font-weight: 300;
  line-height: 1.2;
	font-size: 1.75rem;
}

.display-8 {
  font-weight: 300;
  line-height: 1.25;
	font-size: 1.5rem;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cards {
  max-width: 225px;
}

p {
	margin-bottom: 0rem;
}

.border-right {
  border-right: 1px solid grey;
}

.text-center {
  text-align: center;
}

.text-lead {
	font-size: 1.15rem;
	font-weight: 300;
}

.sticky-thc {
  th {
    position: sticky;
    top: 0;
  }
}

.darkInput {
  background-color: #353639;
  color: white;
  border: none;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.text-arrows {
	--bs-text-opacity: 1;
	color: rgba(108, 122, 137, 1) !important;
}

.text-moon {
	--bs-text-opacity: 1;
	color: rgba(249, 180, 45, 1) !important;
}
.text-leaf {
	--bs-text-opacity: 1;
	color: rgba(46, 204, 113, 1) !important;
}

.text-electric {
	--bs-text-opacity: 1;
	color: rgba(255, 240, 0, 1) !important;
}

.text-earth {
	--bs-text-opacity: 1;
	color: rgba(227, 186, 143, 1) !important;
}

.text-fire {
	--bs-text-opacity: 1;
	color: rgba(255, 76, 48, 1) !important;
}

.text-water {
	--bs-text-opacity: 1;
	color: rgba(44, 130, 201, 1) !important;
}

.text-normal {
	--bs-text-opacity: 1;
	color: rgba(255, 255, 255, 1) !important;
}

.text-ice {
	--bs-text-opacity: 1;
	color: rgba(137, 196, 244, 1) !important;
}

.text-dark {
	--bs-text-opacity: 1;
	color: rgba(108, 122, 137, 1) !important;
}

.text-dragon {
	--bs-text-opacity: 1;
	color: rgba(90, 34, 139, 1) !important;
}

.text-normal {
	--bs-text-opacity: 1;
	color: rgba(126, 126, 126, 1) !important;
}

.text-legendary {
	--bs-text-opacity: 1;
	color: rgba(255, 149, 87, 1) !important;
}

.text-epic {
	--bs-text-opacity: 1;
	color: rgba(185, 99, 255, 1) !important;
}

.text-rare {
	--bs-text-opacity: 1;
	color: rgba(106, 146, 255, 1) !important;
}

.text-common {
	--bs-text-opacity: 1;
	color: rgba(126, 126, 126, 1) !important;
}

.modal {
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.85);
  z-index: 99;
  position:  fixed;
  display: block;
}

.pill {
  border: 1px solid;
  border-radius: 500px;
  padding: 1px 20px 3px 20px;
}


.rounded-circle-small {
	border: 1px solid white;
}

.rounded-circle-large {
	border: 2px solid white;
}

.modal-content {
  background-color: #232425;
  margin: 15% auto;
  padding: 15px 20px 20px 20px;
  border: 1px solid #888;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  z-index: 999;
  max-width: 250px;
}

body {
  background-color: #131416;
}

h6 {
  color: white;
  margin: 0 0 0 0 !important;
}

h5 {
  color: white;
  margin: 0 0 0 0 !important;
}

h4 {
  color: white;
  margin: 0 0 0 0 !important;
}

a {
  text-decoration: none;
}

.form-control:disabled, .form-control[readOnly], .form-control[readonly] {
  background-color: #353639 !important;
}


.outerCard {
  background-color: #232425;
  border-radius: 10px;
  border-color:#2E2F32;
}

.innerCard {
  background-color: #232425;
  color: white;
  border-radius: 0px;
}

.darkSelect {
  background-color: #353639;
  color: white;
  border: none;

}

.darkList {
  background-color: #353639;
  color: white;
  border: none;

}

.darkInput {
  background-color: #353639;
  color: white;
  border: none;

}

.darkInput:focus {
  background-color: #353639;
  color: white;
  border: none;

}

.card-body {
  padding: 10px !important;
}

.float-right {
  float:right;
}